
@model CapstoneWk4ShoppingList.Models.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>Shopping Cart</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.ShoppingList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

            </tr>
        }

    </tbody>
</table>

<p>
    <h4>Total $@Model.Total.ToString()</h4>
</p>
<div>
    <a asp-action="Index">Back to Shopping</a>
    <br />
    <a asp-action="Checkout">Proceed To Checkout</a>
</div>
